{% extends "photo_gallery/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content %}
<div class="mx-5">
<div class="card mx-auto" style="max-width: 30rem; background-color: #000;">
    <div class="card-body" style="color: #fff;">
        <h1 class="card-title text-center">Contact Me</h1>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-outline-light">Send</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
