body {
    background-color: #000000;
}

p {
    color: white;
    font-weight: lighter;
}

.bodytext {
    color: white;
    font-weight: lighter;
    font-size: 1.75rem;
    text-align: center;
}

/*nav bar stuff */

.navtitle {
    font-size: 1.5rem;
    color: white;
}


.navcolor {
    background-color: black;
}
/*this is for overriding the link highlighting*/
.navbar-default .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #545b62;

}


.gallery-photo-div {
    margin-top: 50px;
    margin-bottom: 75px;

}

.gallery-photo {
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-left: 18%;
    max-width: 65%;
    height: auto;
}

.gallery-photo:hover {
    opacity: .7;

}

.my-carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    max-height: 500px;


}

/*this is for each individual photo in a gallery*/
/*using object-fit kept the asepct ratio in conjunction with the other sizing
options */
.unique{
    object-fit: scale-down;
    max-width: auto;
    max-height: 500px;


}

/* about me stuff */



.about-photo {
    border-style: solid;
    border-color: white;
    border-width: medium;
    width: 100%;
    max-width: 610px;
    max-height: 100%;
    object-fit: cover;
}

.footer {
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 5px;
}
