{% extends "photo_gallery/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content %}
<h1 class="bodytext text-center m-5" style="font-size: 2.75rem;"><u>Prints For Sale</u></h1>
<div class="row">
{% for print in prints %}
<div class="col-md-4">
<div class="card mb-2 mx-2">
    <img class="card-img-top" src="{{ print.image.url }}" />
    <div class="card-body">
        <h5 class="card-title text-center">{{ print.title }}</h5>
        <p class="card-text text-info text-center">${{ print.price }}</p>
        <a href="{% url 'inquiry' %}"><button type="button" class="btn btn-dark">Purchase</button></a>
        <a href="{% url 'print-detail' print.pk %}"><button type="button" class="btn btn-dark">view</button></a>
    </div>
</div>
</div>

<!-- modal -->
<!-- THIS CURRENTLY IS NOT WORKING
<div class="modal fade" id="modalPurchasePrint" tabindex="-1" role="dialog" aria-labelledby="modalPurchasePrint" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light">
            <form id="PrintForm"method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-outline-light">Send</button>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
-->


{% endfor %}

</div>
{% endblock %}
<!-- Make a Bootstrap Modal that Displays an email form with already entered
    information on the selected print for sale when pressing the Purchase button. -->
