<!--to load the image, i needed to load static after the block page_content
otherwise static wouldn't load -->
{% extends "photo_gallery/base.html" %}
{% load static %}
{% block page_content %}
<div class="container mt-5 ">
    <div class="row">
        <div class="container my-auto col-lg order-lg-1 about-me-div">
            <p>
                <!-- Draft 2 -->
                Louie Moskowitz was born into a family of painters and ceramicists,
                his family moved to Humboldt County in the mid-90s to a rural town called Redway.
                He chooses to photograph the underdogs of the community, the anomalous buildings,
                and local hangouts where the true underbelly of the community lies.
            </p>
        </div>
        <div class="container col-8 align-self-center about-photo-div">
            <img class="about-photo" src="{% static 'photo_gallery/Louies_Profile.jpg' %}" />
        </div>
        </div>
</div>
{% endblock %}


<!-- possibly move this onto its own page
or move this with an email form to contact to its own page
and instead have the press/showings/interview here under the about me-->
<!--
<h2> Contact Info </h2>
<p>
Email: Satchmolouie@gmail.com
Instagram: @louie_moskowitz
</p>
-->
