<!--to load the image, i needed to load static after the block page_content
otherwise static wouldn't load -->
{% extends "photo_gallery/base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="container col-12 text-center align-self-center mx-auto">
            <h2><u> Contact Info </u></h2>
            <p class="mt-5" style="line-height: 50px;">
                Email: Satchmolouie@gmail.com <br />
                <a href="https://www.instagram.com/louie_moskowitz/">Instagram: @louie_moskowitz </a><br />
                <a href="{% url 'email' %}"><button type="button" class="btn btn-outline-light mt-4">Send Email</button></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
