{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/grid_template.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}" />
    </head>
    <body>
        <div class="container">
            <div class="header">header</div>
            <div class="space-left">left space</div>
            <div class="content">content</div>
            <div class="space-right">right space</div>
            <div class="footer">footer</div>
        </div>
    </body>
</html>
